.bg-container {
  background-color: #f5d0fe;
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;

  height: 150px;
  width: 250px;
}
.input-and-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 220px;
}
.button-style {
  background-color: #d946ef;
  border: 0px none transparent;

  padding: 5px;
  border-radius: 5px;
  color: white;
}
